/*CSS UNIVERSAL PARA TODA A PÁGINA*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Sigmar&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }
  #menu {
    background-color:#F0D5C4;
    margin-bottom: 10px;
    
  }

  #menu ul {
    margin-left: 10px;
    max-width: 85%;
    
    display: inline;
  }

  #menu ul li {
    display: inline;
    height: 70px;


  }
  #menu ul li img{
    height:65px; 
    width: 65px;
    margin-top:0;
    float: left;
    margin-bottom: 0;
    padding:none;
    margin-left: 5px;
    
  }

  .icon {
    position: absolute;
    left: 5rem;
    fill: #eeeef1;
    width: 5rem;
    height: 2rem;
    margin-bottom: 20px;
    margin-top: 10px;
   }   
  
  #menu ul li a {
   
    font-family: 'Share Tech', sans-serif;
    font-size: 25px;
    color:#4C3434;
    padding: 15px;
    margin: 0%;
    margin-bottom: 6px;   
    margin-top: 0; 
    display: inline-block;
    text-decoration: none;
    transition: background .8s;
    border-radius: 10px;
  }
  h1{
    font-family: 'Share Tech', sans-serif;
    font-size: 28px;
    color:#f7d385;
  }
  h2{
    font-family: 'Share Tech', sans-serif;
    font-size: 20px;
    color:#4C3434;
  }
  
  #menu ul li a:hover {
    background-color:#ff7b00;
  }
  
  #menu ul li:last-child a {
   margin-top: 2.5px;
   margin-right: 5px;
   margin-left: 3px;
   margin-bottom: auto;
    float: right;
    background-color:burlywood;
    border-radius: 10px;
  }

  body{
  background-color: #f9f6f2;
  height: 100%;
  width: 100%;

}

    /*CSS DO MENU HORIZONTAL*/
    header{
      width: 100%;
     height: auto;
     position: absolute;
     margin-bottom: 30px;
    }

    .price {
      color:#000000;
      font-size: 32px;
    }
    
    .card-s {
      width: 17em;
      height: 25.5em;
      background: #f39e6d;
      transition: 1s ease-in-out;
      clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      display: flex;
      flex-direction: column;
      margin-top: 60px;
    }
    .card-s span{
      font-weight: bold;
      color: white;
      text-align: center;
      display: block;
      font-size: 1em;
      font-family: 'Share Tech', sans-serif;
      position: relative;
    }
    .card-s .info {
      font-weight: 400;
      color: white;
      display: block;
      text-align: center;
      font-size: 0.9em;
      margin: 1em;
      font-family: 'Share Tech', sans-serif;
      position: relative;
      
    }
    
    .card-s .img {
      width: 4.8em;
      height: 4.8em;
      background: #f39e6d;
      border-radius: 15px;
      margin: auto;
    }
    .card-s .img .logo{
      margin-top: -50px;
      margin-left: -66px;
    }
    
    .card-s .share {
      margin-top: 5.5em;
      display: flex;
      justify-content: center;
      gap: 1em;
    }
    
    .card-s a {
      color: white;
      transition: .4s ease-in-out;
    }
    .card-s a:hover {
      color: red;
    }
    
   
    

    .card-c h1{
      margin-left: 65px;
      margin-bottom: 15px;
    }
    .card {
      border-radius: 5px;
      box-shadow: 7px 7px 13px 0px rgb(243, 195, 133);
      padding: 25px;
      margin: 20px;
      width: 70%;
      height: 70%;
      transition: all 0.3s ease-out;
      position: relative;
      display: inline-table;
      background-color: rgba(248, 232, 186, 0.712);
    }
      
    
    .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color:#000000;
      background-color: #f0e0b3;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
      border-radius: 10px;
    }
    
    .card button:hover {
      background-color: rgb(247, 123, 7);
    }
    .column {
      float: left;
      width: 25%;
      padding: 30px 30px;
      text-align: center;
     
    }

    .column img{
      border-radius: 5%;
      width: 100px;
      padding: 15px;
      margin-top: 100px;
      
      
    }
 
    .row{
      display: inline;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
    
    }
    .row2::after {
      content: "";
      clear: both;
      display: table;
    
    }
.banner img{
  width: 100%;
  height: 100%;
  margin-top: 64px;
  
  
}
.Destaques h1{
  margin-left: 790px;
}

.card-s img{
  width: 200px;
  height: 200px;
  position: relative;
  margin-left: 20px;
  padding-left: 10px;
  display: inline;
}

footer {
  background: linear-gradient(#F0D5C4 0%,#e1deda 100%);
  width: 100%;
  height: 6rem;
  display: block;
  align-items: center;
  bottom:  0;
  position: relative;

}
footer img{ /* logo no footer*/
  margin-top: -45px;
  margin-left: 670px;
  float:center;
  padding:auto;
  height: 10%;
  width: 10%;
  bottom: 0%;
  position: relative;
}
footer p{ /* escrita footer*/
  margin-top: 0px;
  margin-left: 60px;
  float: right;
  width: auto; 
  bottom: 0%;
  position: absolute;
  display: inline;
  margin-bottom: 20px;
}
/* fim do rodapé */
.row-s{
display: table;
content: "";
clear: both;
}

.card-servicos {
  border-radius: 5px;
  background-color: rgb(242, 221, 183);
  box-shadow: 7px 7px 5px 5px rgb(245, 160, 160);
  padding: 30px;
  margin: 20px;
  width: 75%;
  height: 85%;
  transition: all 0.3s ease-out;
  position: relative;
  flex-direction: row;
}
.column-s {
  float: left;
  width: 35%;
  padding: 20px 20px;
  text-align: center;
  margin-top: 70px;
  margin-left: 120px;
  
}
.card-servicos h1{
  margin-bottom: 5px;
}
#a{
  margin-right: 100px;
}

/*video banner*/
video{
  height: 650px;
  width:100%;
  position: relative;
  margin-top: 64px;
}

.search-box{
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  background: #fff;
  height: 50px;
  position: absolute;
  padding: 10px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loupe-white{
  display: none;
}
.search-text{
  background: none;
  border: 0;
  outline: 0;
  font-size: 16px;
  width: 0;
  padding: 0;
  transition: 0.4s;
}
.search-btn{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.search-box:hover > .search-text{
  width: 320px;
  padding-left: 20px;
}
.search-box:hover > .search-btn{
  background: #faa406;
  margin: -9px;
}
.search-box:hover > .search-btn .loupe-blue{
  display: none;
}
.search-box:hover > .search-btn .loupe-white{
  display: block;
}
::-webkit-input-placeholder{
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;
   color: #aeaeae;
}
.footer-s {
  background: linear-gradient(#F0D5C4 0%,#e1deda 100%);
  width: 100%;
  height: 6rem;
  display: block;
  align-items: center;
  bottom:  0;
  position: fixed;

}
.footer-s img{ /* logo no footer*/
  margin-top: -45px;
  margin-left: 670px;
  float:center;
  padding:auto;
  height: 10%;
  width: 10%;
  bottom: 0%;
  position: relative;
}
.footer-s p{ /* escrita footer*/
  margin-top: 0px;
  margin-left: 60px;
  float: right;
  width: auto; 
  bottom: 0%;
  position: absolute;
  display: inline;
  margin-bottom: 20px;
}
.carrinho{
position: relative;
margin-left: 1700px;
margin-bottom: -130px;
cursor: pointer;
padding: 0;
bottom: 0;
top: -3px;
}
.carrinho:hover{
  background-color: #e75733 ;
}